body {
    margin: 0;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background: url('../images/biotech1.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: background-blur 2s ease-in-out forwards;
}

@keyframes background-blur {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0);
    }
}

.navbar {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 10;
}

.brand {
    display: flex;
    flex-direction: column;
}

.brand h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.brand h2 {
    margin: 0;
    font-size: 28px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.navbar a:hover {
    background: white;
    color: black;
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 10px;
}

.card h2 {
    font-size: 24px;
    color: #000;
}

.card p {
    font-size: 16px;
    color: #000;
}

.card a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    background: #837f7f;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    transition: background 0.3s ease;
}

.card a:hover {
    background: #3f3f3f;
}
