.modal-body-scrollable {
    max-height: 70vh; /* 设置最大高度，防止超出屏幕 */
    overflow-y: auto; /* 允许垂直滚动 */
}

.modal-body-scrollable {
    max-height: 70vh; /* 设置最大高度，防止超出屏幕 */
    overflow-y: auto; /* 允许垂直滚动 */
}

body {
    margin: 0;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    background: url('../images/tech2.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    animation: background-blur 2s ease-in-out forwards;
}

@keyframes background-blur {
    0% {
        filter: blur(10px);
    }
    100% {
        filter: blur(0);
    }
}

.header {
    width: 100%;
    padding: 10px 20px; /* 调整padding使导航栏内容向左右两边放 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(140, 134, 134, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px; /* 调整logo的高度 */
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text h1 {
    margin: 0;
    line-height: 1.2;
    color: white;
    font-size: 24px; /* 调整字体大小 */
}

.logo-text h2 {
    margin: 0;
    line-height: 1.2;
    color: white;
    font-size: 18px; /* 调整字体大小 */
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.nav a:hover {
    background: white;
    color: black;
}


.center-wrapper {
    position: relative;
    height: calc(100vh - 80px); /* 调整高度以适应导航栏 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -70px; /* 向上移动整体布局 */
}

.center-circle {
    width: 350px; /* 调整大小 */
    height: 350px; /* 调整大小 */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* 确保图片填满圆形 */
    background: rgba(50, 50, 50, 0.7); /* 半透明深灰色 */
    z-index: 5;
}

.circle-img {
    width: 100%; /* 确保图片填满圆形 */
    height: 100%; /* 确保图片填满圆形 */
    object-fit: cover; /* 确保图片保持比例 */
}

.outer-image {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.image-circle {
    width: 200px; /* 调整大小 */
    height: 200px; /* 调整大小 */
    border-radius: 50%;
    object-fit: cover; /* 确保图片保持比例 */
    margin-bottom: 10px;
    opacity: 0.7; /* 半透明 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* 立体效果 */
    transition: all 0.3s ease; /* 添加过渡效果 */
}

.image-circle:hover {
    opacity: 1; /* 鼠标悬停时取消透明 */
    transform: scale(1.05); /* 鼠标悬停时放大 */
}

.image-3 {
    transform: translateX(-180%); /* 左边圆，原位置 */
}

.image-6 {
    transform: translateY(165%); /* 向上移动 */
}

.image-9 {
    transform: translateX(180%); /* 右边圆，原位置 */
}

.description {
    position: absolute;
    background-color: rgb(255, 255, 255,0.6);
    color: #0c0c0c;
    font-family: 'Arial', sans-serif;
    border-radius: 5px;
    text-align: center;
}

.neuro-description {
    bottom: -90px;
    left: 0;
    width: 100%;
}

.respiratory-description {
    top: 0;
    left: -60%;
    width: 50%;
}

.cancer-description {
    bottom: -105px;
    left: 0;
    width: 100%;
}

.table {
    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-radius: 10px; /* 设置圆角 */
    overflow: hidden; /* 确保圆角生效 */
}

.table th, .table td {
    border: 1px solid #ffffff;
    padding: 8px;
}

.table th {
    background-color: #ffffff;
    text-align: left;
}

.table tr:nth-child(even) {
    background-color: #ffffff;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: #ffffff;
}

/* 调整第二列和第三列的宽度 */
.table td:nth-child(2), .table th:nth-child(2) {
    width: 30%; /* 调整宽度 */
}

.table td:nth-child(3), .table th:nth-child(3) {
    width: 40%; /* 调整宽度 */
}

.text-center {
    text-align: center;
}

/* 确保按钮在前面并且可点击 */
.navbar {
    z-index: 5; /* 确保导航栏在前面 */
}

.center-wrapper {
    z-index: 1; /* 确保中心内容在导航栏后面 */
}

#GPCRModal .modal-body {
    color: black; /* 将字体颜色设置为黑色 */
}