body {
    background-image: url('/static/images/tech.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    padding: 10px 20px; /* 调整padding使导航栏内容向左右两边放 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(140, 134, 134, 0.5);
    position: fixed;
    top: 0;
    z-index: 10;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 50px; /* 调整logo的高度 */
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text h1 {
    margin: 0;
    line-height: 1.2;
    color: white;
    font-size: 24px; /* 调整字体大小 */
}

.logo-text h2 {
    margin: 0;
    line-height: 1.2;
    color: white;
    font-size: 18px; /* 调整字体大小 */
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
    border: 2px solid white;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.nav a:hover {
    background: white;
    color: black;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-box {
    background-color: rgb(43, 41, 41);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(213, 192, 192, 0.6);
    max-width: 1000px;
    width: 100%;
}

.page-title {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.page-content {
    padding: 20px;
}

.page-content p {
    font-size: 18px;
    line-height: 1.6;
}

.form-group label {
    color: white;
}

.table {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

.table th, .table td {
    color: black;
}
