<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/beiyun.png') }}" alt="Logo">
            <span>贝芸药物预测架构</span>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('user.user_management') }}">用户管理</a></li>
                <li><a href="{{ url_for('main.showcase') }}">展示页</a></li>
                <li><a href="{{ url_for('auth.logout') }}">登出</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 intro-section">
                    <section class="intro">
                        <h1>虚拟筛选过程</h1>
                        <p>从大量化合物中筛选出潜在的药物候选物。这种方法在药物发现过程中广泛应用，可以显著加速药物开发的初步筛选阶段，降低实验成本。</p>
                        <a href="{{ url_for('main.database_preview') }}" class="btn btn-primary">数据库预览</a>
                    </section>
                </div>
                <div class="col-md-8 features-section">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="feature">
                                <div class="feature-header" onclick="location.href='{{ url_for('main.pyai_vs') }}'">
                                    <h2>AI分类模型</h2>
                                </div>
                                <p>AI模型可以基于已知的生物活性、毒性、物理化学性质等对化合物进行筛选，过滤掉一些不符合要求的化合物。</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="feature">
                                <div class="feature-header" onclick="location.href='{{ url_for('main.l_score') }}'">
                                    <h2>对接后重打分</h2>
                                </div>
                                <p>重新打分使用更精细、更准确的评分函数或其他计算方法来重新评估候选化合物的结合亲和力，排除误筛选的低亲和力化合物，保留真正具有潜力的化合物。</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="feature">
                                <div class="feature-header" onclick="location.href='{{ url_for('main.psearch') }}'">
                                    <h2>药效团模型</h2>
                                </div>
                                <p>通过药效团模型，可以识别和筛选出那些在结构上符合特定药效团模式的化合物。这一步骤旨在找出潜在的生物活性化合物。</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="feature">
                                <div class="feature-header" onclick="location.href='{{ url_for('main.docking_vs') }}'">
                                    <h2>分子对接虚拟筛选</h2>
                                </div>
                                <p>虚拟筛选是利用分子对接技术来筛选大型化合物库，找出那些与目标蛋白质具有高亲和力的候选化合物。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
